# ignore directories
node_modules/
Data/
Models/Flightory_Talon-1400_model.stl
**/node_modules/

# binaries
*.exe
*.dll
*.so
*.dylib
*.bin

# Electron and large files
**/electron/dist/
**/electron.exe
